<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>
    <div id="content">
        <div class="background-image"></div>
        <div class="blur-overlay"></div>
        <div class="intro-text">
            <p>Bem-vindo ao <strong>Alerta Seguro</strong>, a ferramenta essencial para sua segurança em emergências. Com um toque, peça ajuda, conecte-se com uma rede de apoio e mantenha-se seguro. Junte-se a nós e seja parte de uma rede de proteção e solidariedade.</p>
        </div>
    </div>
</body>

</html>
