<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Login</title>
    <link rel="stylesheet" th:href="@{/css/Login.css}">
</head>
<body>
    <div th:fragment="main">
        <div class="login-container">
            <h2>Login</h2>
            <form th:action="@{/login}" th:object="${login}" method="post">
                <div class="input-group">
                    <label>
                        <input type="text" th:field="*{cpf}" placeholder="CPF" required>
                    </label>
                </div>
                <div class="input-group">
                    <label>
                        <input type="password" th:field="*{senha}" placeholder="Senha" required>
                    </label>
                </div>
                <div class="links">
                    <a href="#">Esqueci Senha</a>
                    <a th:href="@{/cadastro}">Fazer Cadastro</a>
                </div>
                <button type="submit" class="login-button">Logar</button>
            </form>
        </div>
    </div>
</body>
</html>