<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">Login</title>
     
    <!-- Link CSS -->
    <link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<body>
    <div id="container">

        <main>
            <div class="login-container">
                <h2>Login</h2>
                <div class="input-group">
                    <input type="email" placeholder="E-mail" required>
                </div>
                <div class="input-group">
                    <input type="password" placeholder="Senha" required>
                </div>
                <div class="links">
                    <a href="#">Esqueci Senha</a>
                    <a th:href="@{/usuario}">Fazer Cadastro</a>
                </div>
                <button class="login-button">Logar</button>
            </div>
        </main>
    </div>
</body>
</html>
